table[b-tqmmgyrq2f] {
    margin-bottom: 0;
    table-layout: fixed;
    width: 1560px;
}

table tbody[b-tqmmgyrq2f], table thead[b-tqmmgyrq2f] {
    display: block;
}

table tbody[b-tqmmgyrq2f] {
    overflow: auto;
    height: 700px;
}

.cust-id[b-tqmmgyrq2f] { width: 5.63%; }
.cust-name[b-tqmmgyrq2f] { width: 11.97%; }
.contact-name[b-tqmmgyrq2f] { width: 11.97%; }
.contact-title[b-tqmmgyrq2f] { width: 11.27%; }
.cust-address[b-tqmmgyrq2f] { width: 11.97%; }
.cust-city[b-tqmmgyrq2f] { width: 8.10%; }
.cust-region[b-tqmmgyrq2f] { width: 5.63%; }
.cust-postal-code[b-tqmmgyrq2f] { width: 8.10%; }
.cust-country[b-tqmmgyrq2f] { width: 7.04%; }
.cust-phone[b-tqmmgyrq2f] { width: 9.15%; }
.cust-fax[b-tqmmgyrq2f] { width: 9.15%; }
