table {
    margin-bottom: 0;
    table-layout: fixed;
    width: 1560px;
}

table tbody {
    overflow: auto;
    height: 700px;
    width: 100%;
}

.cust-id { width: 5.63%; }
.cust-name { width: 11.97%; }
.contact-name { width: 11.97%; }
.contact-title { width: 11.27%; }
.cust-address { width: 11.97%; }
.cust-city { width: 8.10%; }
.cust-region { width: 5.63%; }
.cust-postal-code { width: 8.10%; }
.cust-country { width: 7.04%; }
.cust-phone { width: 9.15%; }
.cust-fax { width: 9.15%; }
