div.pager[b-yvdznec67y] {
    float:left;
    margin-left: 2em;
    padding: 4px;
    border: 1px solid black;
    border-radius: 8px;
}

a.custom-link[b-yvdznec67y] {
    width: 24px;
    display: inline-block;
    text-align: center;
}

a.selected-label[b-yvdznec67y] {
    text-decoration: none;
    font-weight: bolder;
    color: red;
}

a.selected-label:hover[b-yvdznec67y] {
    cursor: unset;
}

a.custom-link[disabled][b-yvdznec67y] {
    text-decoration: none;
    cursor: unset;
    opacity: 0.5;
}

span.set-info[b-yvdznec67y] {
    display: inline-block;
    opacity: 0.6;
}

button[type="submit"][b-yvdznec67y] {
    margin-bottom: 2px;
    margin-left: 0.5em;
}

span.text-danger[b-yvdznec67y] {
    display: inline-block;
    padding-left: 0.5em !important;
}